/* CategoryComponent.css */

.text-center {
    text-align: center;
}

.text-red {
    color: rgb(27, 21, 21);
}

.float-left {
    float: left;
}

.inline {
    display: inline;
}

.float-clear {
    clear: both;
}

.datatable {
    width: 100%;
}

.datatable th,
.datatable td {
    padding: 10px;
}

.datatable th {
    background-color: #ca0303;
}

.datatable tr:nth-child(even) {
    background-color: rgb(255, 141, 141);
}

.datatable tr:hover {
    background-color: #ffa0a0;
    cursor: pointer;
}


/* CategoryComponent.css */